@page
@attribute [Authorize(Roles="Admin")]
@using Microsoft.AspNetCore.Authorization
@model Web.Pages.Admin.Users.IndexModel
@{
    ViewData["Title"] = "Пользователи";
}
<h1>Пользователи</h1>

<table class="table">
    <thead><tr><th>Email</th><th>Роли</th><th></th></tr></thead>
    <tbody>
@foreach (var u in Model.Users)
{
    <tr>
        <td>@u.Email</td>
        <td>@string.Join(", ", u.Roles)</td>
        <td class="text-end">
            <a asp-page="Edit" asp-route-id="@u.Id" class="btn btn-sm btn-primary">Изменить роли</a>
        </td>
    </tr>
}
    </tbody>
</table>
